
<!--Navigation & Intro-->
<header id="header">

  <!--Navbar-->
  <nav class="navbar fixed-top navbar-toggleable-md navbar-dark scrolling-navbar">

    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <a class="navbar-brand" href="/">
        <strong>KC Letná</strong>
      </a>

      <div class="collapse navbar-collapse" id="navbarNav">

        <!--Links-->
        <ul class="navbar-nav mr-auto smooth-scroll">
          <li class="nav-item">
            <a class="nav-link" href="/prednasky">Přednášky a besedy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/vystavy">Výstavy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/workshopy">Workshopy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/spoluprace">Spolupráce</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/podporte">Podpořte</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/o-spolku">O spolku</a>
          </li>
          <!-- <li class="nav-item navbar-right">
            <a class="nav-link" href="#footer" data-offset="100">Jak nás najít</a>
          </li> -->
        </ul>

        <!--Social Icons-->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item">
            <a class="nav-link" href="http://github.com/lepsipraha7/kc"><i class="fa fa-github"></i></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>
  <!--/Navbar-->

</header>
<!--/Navigation & Intro-->
